// 样式变量
$color-white: #fff;
$color-bg-theme: #1d1d1d;
$color-primary: #3d9ce1;
$color-hover: #aacfe4;

$color-border: #303030;
$color-header-bg: #434343;
$color-tip-bg: #1f1f1f;

$font-color: #acacac;
$font-sub-color: #7e7e7e;
$font-title-color: #dbdbdb;

$header-height: 60px;

$font-size-16: 16px;
$font-size-14: 14px;
